.home-wrapper {
  margin-top: 50px;
}

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 50px;
}

.heading {
  padding: 0 10px;
  font-size: 28px;
  color: #434d56;
}

.search-input {
  position: absolute;
  right: 20px;
  top: 5px;
  height: 30px;
  font-size: 15px;
  color: #434d56;
}

.card-group {
  display: grid;
  margin: 0 auto;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

@media screen and (max-width: 1200px) {
  .card-group {
    width: 780px;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 780px) {
  .card-group {
    width: 380px;
    grid-template-columns: auto;
  }
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
